body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    margin-bottom: 20px;
    font-size: 3rem;
}

.header {
    display: flex;
    align-items: center;
}

.timer, .errors, .accuracy,
.cpm, .wpm {
 height: 60px;
 width: 70px;
 margin: 8px;
 padding: 12px;
}

.cpm , .wpm {
    display: none;
}

.header_text {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.curr_time, .curr_errors,
.curr_accuracy, .curr_cpm,
.curr_wpm {
    font-size: 2.75rem;
}

.quote {
    background-color:#1f1f1f;
    color: gray;
    font-size: 1.5rem;
    margin: 10px;
    padding: 25px;
}

.input_area {
    background-color: #2d2f31;
    color: white;
    text-align: center;
    height: 80px;
    width: 40%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px;
    padding: 0px;
    border: 0px;
    border-radius: 30px;
}

.input_area::placeholder{
    text-align: center;
    padding-top: 20px;
}

.restart_btn{
    display: none;
    background-color: white;
    font-size: 1.5rem;
    padding: 10px;
    border: 0px;
}

.incorrect_char{
    color: red;
    text-decoration: underline;
}

.correct_char{
    color: white;
}


